<% provide :title, t(".title") %>
<%= link_to t(".english"), locale: :en %>
<%= link_to t(".vietnamese"), locale: :vi %>
<h1><%= t ".help"%></h1>
<p>
  <%= t ".txt1" %>
  <%= link_to t(".txt2")," http://www.railstutorial.org/help" %>.
  <%= t ".txt3" %>
  <em><%= link_to t(".txt4"), "http://www.railstutorial.org/book" %></em>
</p>
